# Python lists

## 1. Creating lists
### 1.1 Lists with one data type


- Assign the floor spaces of these variables to a list called fl_sp
- print fl_sp

In [54]:
swinton = 18526
stamford = 18569
skipton = 12288
stratton = 17092

fl_sp = [swinton, stamford, skipton, stratton]

print(fl_sp)

[18526, 18569, 12288, 17092]

### 1.2 Lists with different types

- Adapt fl_sp by adding the town names to the list. Each town name should be in front of the respective floor space number.
- Print fl_sp

In [55]:
swinton = 18526
stamford = 18569
skipton = 12288
stratton = 17092

fl_sp.insert(0, 'swinton')
fl_sp.insert(2, 'stamford')
fl_sp.insert(4, 'skipton')
fl_sp.insert(6, 'stratton')

print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092]

### 1.3 Lists within lists
- Adapt fl_sp in such a way that it consists of multiple lists. Each sub-list is a combination of the town name and the respective floor space
- Print fl_sp

In [56]:
tmp = list(fl_sp)

fl_sp.clear()

for idx in range(0, len(tmp), 2):
    fl_sp.append([ tmp[idx], tmp[idx + 1] ])

print(fl_sp)

[]

## 2 Subsetting lists

### 2.1 selecting single elements

Run the code in the next cell to set up the list:

In [26]:
fl_sp = ['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]
print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]

Print the following elements of fl_sp (remember that lists have zero-indexing):
- The 3rd element
- The first element
- The last element
- The second from last element

In [27]:
print(fl_sp[2])
print(fl_sp[0])
print(fl_sp[len(fl_sp) - 1])
print(fl_sp[len(fl_sp) - 2])

stamford
swinton
11307
shepperton

- Calculate the average floor space and assign it to a variable.
- Print the average floor space

In [29]:
avg_floor_space = 0

for entry in fl_sp:
    if type(entry) is not int:
        continue
    avg_floor_space += entry

avg_floor_space /= (len(fl_sp) / 2)

print(avg_floor_space)

15556.4

### 2.2 Slicing

- Print the last 4 elements
- Print the third element until the sixth element
- Print the first 2 elements

In [42]:
print(fl_sp[len(fl_sp) -4: len(fl_sp)])
print(fl_sp[2:6])
print(fl_sp[0:2])

['stratton', 17092, 'shepperton', 11307]
['stamford', 18569, 'skipton', 12288]
['swinton', 18526]

### 2.3 Subsetting lists within lists
Run the code in the next cell to change fl_sp:

In [58]:
fl_sp = [['swinton', swinton] , ['stamford', stamford] , ['skipton', skipton], ['stratton', stratton]]
print(fl_sp)

[['swinton', 18526], ['stamford', 18569], ['skipton', 12288], ['stratton', 17092]]

Print the floor space of Skipton in two ways: starting from the beginning
and starting from the end

In [63]:
def print_if_found(find: str, fl_couple: list) -> None:
    if fl_couple[0] != find:
        return
    print(fl_couple[1])

for idx in range(0, len(fl_sp)):
    print_if_found('skipton', fl_sp[idx])

for idx in range(len(fl_sp) - 1, 0, -1):
    print_if_found('skipton', fl_sp[idx])

12288
12288

## 3 Manipulating lists
### 3.1 Replacing, adding and deleting elements

Run the code in the next cell to set up fl_sp

In [77]:
fl_sp = ['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]
print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'stratton', 17092, 'shepperton', 11307]

- Replace stratton with london
- Replace the floor area of london with 25000
- Print fl_sp

In [78]:
for idx, entry in enumerate(fl_sp):
    if entry != 'stratton':
        continue

    fl_sp.insert(idx, 'london')
    fl_sp.remove(entry)
    fl_sp_stratton = fl_sp[idx + 1]
    fl_sp.insert(idx + 1, 25_000)
    fl_sp.remove(fl_sp_stratton)

print(fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'shepperton', 11307]

- Add your town of residence and a realistic floor space to the list. Assign this list to a new list.
- Print the new list

In [79]:
fl_sp.append('zaandam')
fl_sp.append(23_000)
new_fl_sp = fl_sp

print(new_fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'shepperton', 11307, 'zaandam', 23000]

- Delete shepperton and its floor space from the new list

In [80]:
idx_shepperton = new_fl_sp.index('shepperton')
new_fl_sp.pop(idx_shepperton + 1)
new_fl_sp.pop(idx_shepperton)

print(new_fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam', 23000]

The next cell contains code that creates a new list that is the same as new_fl_sp.
After deleting the last element of the new list the last element
of new_fl_sp is deleted as well. Change the code below in such a way that
new_fl_sp is NOT changed after changing the new list.

In [81]:
new_new_fl_sp = new_fl_sp

new_new_fl_sp.pop()

print(new_new_fl_sp)
print(new_fl_sp)

new_new_fl_sp = list(new_fl_sp)

new_new_fl_sp.pop()

print(new_new_fl_sp)
print(new_fl_sp)

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam']
['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam']
['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000]
['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam']

## 4 Integration assignment
Recently 3 more stores with there respective floor spaces have opened:

- sandbach: 15738
- stone: 17242
- sedbergh: 11198

Assignment:
- Add these 3 stores to fl_sp
- Calculate and print the average floor space of these 3 new stores
- Create a NEW list that is exactly the same as fl_sp. If the NEW list changes fl_sp should NOT change
- Change in the NEW list the floor space of stamford into 21000. Print the new list.
- Print this sentence applying list elements: "stamford has a floor space of 18569 sqm"

In [82]:
# adding 3 stores:
to_add = ['sandbach', 15_738, 'stone', 17_242, 'sedbergh', 11_198]
fl_sp.extend(to_add)

print(fl_sp)

# calculate average:
avg_floor_space = 0

for idx in range(1, len(to_add), 2):
    avg_floor_space += to_add[idx]

avg_floor_space /= (len(to_add) / 2)

print(avg_floor_space)

# create new list:
new_fl_sp = list(fl_sp)

print(new_fl_sp)
print(fl_sp)

# Change floor space:

for idx, entry in enumerate(new_fl_sp):
    if entry != 'stamford':
        continue

    new_fl_sp.pop(idx + 1)
    new_fl_sp.insert(idx + 1, 21_000)

print(new_fl_sp)
print(fl_sp)

# Print sentence
sentence = ['stamford', 'has', 'a', 'floor', 'space', 'of', 18569, 'sqm']

for entry in sentence:
    print(entry, end=' ')

['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam', 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]
14726.0
['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam', 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]
['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam', 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]
['swinton', 18526, 'stamford', 21000, 'skipton', 12288, 'london', 25000, 'zaandam', 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]
['swinton', 18526, 'stamford', 18569, 'skipton', 12288, 'london', 25000, 'zaandam', 'sandbach', 15738, 'stone', 17242, 'sedbergh', 11198]
stamford has a floor space of 18569 sqm